﻿@using Test.Models
@model ShopInfo

@using (Html.BeginForm("CreateShop", "Shop", FormMethod.Post, new TestDB.Models.Shop()))
{
    @Html.HiddenFor(model => model.Id)

    <hr />
    <div>
        @Html.LabelFor(model => model.Name)
    </div>
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)

    <hr />
    <div>
        @Html.LabelFor(model => model.Address)
    </div>
    @Html.EditorFor(model => model.Address)
    @Html.ValidationMessageFor(model => model.Address)

    <hr />
    <div>
        @Html.LabelFor(model => model.WorkingHours)
    </div>
    @Html.EditorFor(model => model.WorkingHours)
    @Html.ValidationMessageFor(model => model.WorkingHours)

    <hr />
    <input type="submit" class="btn btn-outline-dark" />
}