﻿@using Test.Models
@model IEnumerable<ShopInfo>

<div class="text-center">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Наименование</th>
            <th>Адрес</th>
            <th>Режим работы</th>
        </tr>
        @foreach (var shop in Model)
        {
            <tr>
                <td>@shop.Id</td>
                <td>@shop.Name</td>
                <td>@shop.Address</td>
                <td>@shop.WorkingHours</td>
                <td>@Html.ActionLink("Продукты", "GetAll", "Product", new { Id = shop.Id }, new { type = "button", @class = "btn btn-outline-dark" })</td>
                <td>@Html.ActionLink("Информация", "GetInfo", "Shop", new { Id = shop.Id }, new { type = "button", @class = "btn btn-outline-dark" })</td>
                <td>
                    <form asp-action="DeleteShop" asp-controller="Shop" asp-route-id="@shop.Id" data-ajax="true"
                          data-ajax-method="POST" data-ajax-success="onSuccess">
                        <input type="submit" class="btn btn-outline-dark" value="Удалить" id="delete" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>


<div>
    @Html.ActionLink("Создать", "CreatePage", "Shop", new ShopInfo(), new { type = "button", @class = "btn btn-outline-dark" })
</div>

@section Scripts
{
    <script>
        function onSuccess(data) {
            alert("Удалить магазин?");
            history.go(0);
        }
    </script>
}