﻿@using Test.Models
@model ShopInfo


<form asp-action="ShopInfo" asp-controller="Shop" data-ajax="true"
      data-ajax-method="POST" data-ajax-success="onSuccess">
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "col-2 col-form-label" })
        @Html.EditorFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Address, new { @class = "col-2 col-form-label" })
        @Html.EditorFor(model => model.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Address)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.WorkingHours, new { @class = "col-2 col-form-label" })
        @Html.EditorFor(model => model.WorkingHours, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.WorkingHours)
    </div>

    <input type="submit" class="btn btn-outline-dark" id="btsubmit" />
</form>

<script>
    function onSuccess(data) {
        alert(data.success);
        history.go(-1);
    }
</script>