﻿@using Test.Models
@model ProductInfo

@using (Html.BeginForm("CreateProduct", "Product", FormMethod.Post, new { }))
{
    @Html.HiddenFor(model => model.ShopId)
    @Html.HiddenFor(model => model.Id)

    <hr />
    <div>
        @Html.LabelFor(model => model.Name)
    </div>
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)

    <hr />
    <div>
        @Html.LabelFor(model => model.Description)
    </div>
    @Html.TextAreaFor(model => model.Description)

    <hr />
    <input type="submit" class="btn btn-outline-dark" />
}