﻿@using Test.Models
@model ProductViewModel

<div class="text-center">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Описание</th>
        </tr>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@Html.ActionLink("Информация", "GetInfo", "Product", new { Id = product.Id }, new { type = "button", @class = "btn btn-outline-dark" })</td>
                <td>
                    <form asp-action="DeleteProduct" asp-controller="Product" asp-route-shopId="@Model.ShopId" asp-route-id="@product.Id" data-ajax="true"
                          data-ajax-method="POST" data-ajax-success="onSuccess">
                        <input type="submit" class="btn btn-outline-dark" value="Удалить" id="delete" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>


<div>
    @Html.ActionLink("Создать", "CreatePage", "Product", new ProductInfo() { ShopId = Model.ShopId }, new { type = "button", @class = "btn btn-outline-dark" })
</div>


@section Scripts
{
    <script>
        function onSuccess(data) {
            alert("Удалить продукт?");
            history.go(0);
        }
    </script>
}